@charset "UTF-8";
#memberinfo {
            width: 600px;
            height : 600px;
            margin: 0 auto;
            max-width: 500px;
            margin-top: 50px;
            margin-bottom:80px;
            padding: 20px;
            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}
 #logos{
	width:500px;
	margin:0 auto;
}                
#logos p{
	font-family: 'Domine', serif;
    color: #757169;
    font-size: 1.7em;
    font-weight:bold;
	width:300px;
	margin : 0 auto;
	text-align: center;
}
#wrap{
	width:1200px;
	margin:50px auto;
}
/* 	#memberinfo{ */
/* 	width:1000px; */
/* 	margin:0 auto;	 */
/* 	} */
	#memberinfo table{
	font-family: 'IBM Plex Sans KR', sans-serif;
	width:450px;
	margin:0 auto;
	padding:20px;
	}
	#memberinfo table tr{}
	#memberinfo table tr th{
	width:230px;
	}
	#memberinfo table tr td{
	width:230px;
	text-align: center;
	padding-top:10px;
	}
	#memberinfo table .name{
	font-weight:bold;
	font-size:1.3em;
	}
	#memberinfo .btn{
	width:100px;
	height:30px;
	margin-left:25px;
	background-color: #757169;
	color:white;
	border:none;
	}
	#memberinfo input[type="text"]{
	height:25px;
	width:230px;
	border:1px solid lightgray;
	border-radius: 3px;
	padding-left:10px;
	}
	#memberinfo input[type="email"]{
	height:25px;
	width:230px;
	border:1px solid lightgray;
	border-radius: 3px;
	padding-left:10px;
	}
		#middle{
		width:1500px;
		margin:0px auto;
		}
		
		#logoss{
	width:800px;
	margin:0 auto;
	margin-top: 80px;
	padding-right:30px;
	}
	#logoss img{
	width:500px;
	height:230px;
	text-align: center;
	padding-left:170px;
	}